.container {
  width: 100%;
  margin-top: 2rem;
}

.imgResponsive {
  width: 100%;
  height: auto;
	margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .imgResponsive {
    max-width: 100%;
  }
}

.title {
	text-transform: capitalize;
  max-width: 600px;
}

.linksContainer {
  border: 1px solid #000; /* Change the color as needed */
  padding: 1rem;
}