@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
  font-weight: 500;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

a {
  color: purple;
  text-decoration: none;
}

a:hover {
  color: hotpink;
}
